/*CMPS3141-HCI - AS2
Collaborators:---

Date: 29/9/20*/
body{
	padding: 			0;
	margin:				0;
	color:				#FF9F19;
	font-family:		calibri;
	text-align:			center;
	background-color:	#EDEDF3;
}

h1, h2, label{
	font-size:			2em;
}

ul{
	text-align:			left;
}

h1, h2{
	margin-bottom:		2%;
}


span{
	font-size:			.7em;
}

section{
	margin:				7vh 4%;
	width:				90%;
}

.nestBox{
	margin:				7vh 12%;
	width:				70%;
}

.nestBox, section{
	
	border-radius: 		20px;
	padding:			10px;
	box-shadow: 		12px 12px 24px 0 rgba(0, 0, 0, 0.2), -12px -12px 24px 0 rgba(255, 255, 255, 0.7), inset -6px -6px 20px 0 rgba(0, 0, 0, 0.1);
}

.box{
	height:				500px;
	border-radius: 		20px;
	margin-left:		2%;
	margin-bottom:		3%;
	padding:			10px;
	box-shadow: 		inset 8px 8px 10px 0 rgba(0, 0, 0, 0.18), 5px 5px 7px rgba(0, 0, 0, .05), inset -6px -6px 20px 0 rgba(255, 255, 255, 0.7);
	display:			inline-block;
	overflow:			hidden;
}

#prev{
	width:				55%;
}

#slide{
	width:				35%;
}

.demoBox{
	position:			relative;
	left:				30%;
	top:				15%;
	color:				white;
	text-align:			center;
	width:				300px;
	height:				150px;
	border-radius:		20px;
	background-color:	darkcyan;
}

.insideDemo{
	color:				black;
	background-color:	white;
	position:			relative;
	top:				15%;
	left:				15%;
	height:				75%;
	width:				75%;
	border-radius:		10px;
}
	
.red{
	color: red;
}

.green{
	color: green;
}

.blue{
	color: blue;
}

.purple{
	color: Purple;
}