/*adds the basic styles to be used by all elements of the page*/
#contentArea{
    position: relative;
    top: 0;
    float: right;
    width: 80%;
    font-family: 'Rubik', sans-serif;
    background-color: #f0f0f7;
}

/*makes the sentences of the page bigger and centered on the container*/
.topLine{
    font-size: 1.7em;
    text-align: center;
}

/*STATS HIDE SWITCH*/
.switch {
    color: white;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  /*hide checkbox*/
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /*slider main box + effect*/
  .slider {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #092c3e;
    /*color transition*/
    -webkit-transition: 0.4s;
    transition: 0.4s;
    /*bg*/
    transition: ease-in 0.4s;
    padding-left: 5px;
  }
  
  /*slider ball*/
  .slider:before {
    border-radius: 16px;
    position: absolute;
    content: "";
    height: 16px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    /*switch move speed*/
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  
  /*ball movement*/
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(23px);
  }

  /*ball switch color changes
    input:checked + .slider:before {
    background-color: green;
  }*/

/* -----------------------MAP----------------------- 
style for the division used to dislay the map - divides the container into 2, and displays inline to the stats*/
#mapDisplay{
    width: 45%;
    height: 100%;
    margin-left: 1%;
    display: inline-block;
    overflow: hidden;
}

img[usemap] {
	border: none;
	height: auto;
    max-width: 100%;
	width: auto;
} 

/*the container inside mapDisplay, holds the map image ONLY*/
#districts{
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
}

/*centers the map and makes it 600px, MUST BE 600PX for the mapping to work properly*/
#districts img{
    height: 600px;
    margin-left: 20%;
}

/* -----------------------STATS----------------------- */
/*style for the  disivison used to display the statistics of the map - divides and display as the map too*/
#mapStats{
    border: 1px solid gray;
    display: inline-block;
    border-radius: 20px;
    width: 45%;
    height: 95%;
    margin-top: 2%;
    overflow: hidden;
}

/*centers the print button*/
#mapStats button{
    margin-left: 30%;
    font-size: 1.3em;
}

#mapText16 img{
    width: 40px;
}

/*inner container of the mapStats*/
.statsInnerContainer{
    margin-top: 5%;
}

/*centers the table and makes elements spacious*/
.statsInnerContainer table{
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 8%;
    margin-bottom: 50px;
    font-size: 1.3em;
    background-color: white;
}

/*colors the head of the table*/
.statsInnerContainer table tr:nth-child(1){
    background-color: #093B93;
    color: white;
}

/*colors light gray to the first row of the tables, cases*/
.statsInnerContainer table tr:nth-child(2){
    background-color: #dbdbdb;
}
/*colors light red to the second row of the tables, deaths*/
.statsInnerContainer table tr:nth-child(3){
    background-color: #fcc2c2;
}
/*colors light green to the third row of the tables, recovered*/
.statsInnerContainer table tr:nth-child(4){
    background-color: #c4fcc2;
}
/*colors light orange to the last row of the tables, active cases*/
.statsInnerContainer table tr:nth-child(5){
    background-color: #fce4c2;
}

/*centers and adds space to the text in the table*/
.statsInnerContainer table td{
    width: 30%;
    text-align: center;
    padding: 5px 0px;
}

/*hides the middle column of the table*/
.hideDaily td:nth-child(2) {
    display: none;
}

/*hides the rightmost column of the table*/
.hideTotal td:nth-child(3){
    display: none;
}

#logo{
    width: 180px;
}

/* --------------------------------B R E A K   P O I N T S-------------------------------- */
/* - - - - -1110PX- - - - - */
@media screen and (max-width: 1110px) {
    /*minimizes the map*/
    #districts img{
        margin-left: 15%;
    }
    #mapDisplay{
        height: 97%;
    }
    .statsInnerContainer table{
        margin-left: 3%;
        margin-bottom: 40px;
        font-size: 1.2em;
    }
}

/* - - - - -1050PX- - - - - */
@media screen and (max-width: 1050px) {
    .statsInnerContainer table{
        margin-left: 5%;
        font-size: 1.1em;
    }
    #logo{
        width: 150px;
    }
}

/* --------------------950PX TABLET SIZE-------------------- */
@media screen and (max-width: 950px) {
    /*shrinks table*/
    .statsInnerContainer table{
        margin-left: 5%;
        font-size: 0.9em;
        margin-bottom: 30px;
    }
    /*replaces the margin at the top*/
    #mapStats{
        margin-top: 1%;
    }
    /*changes the font size of the top lines/big texts*/
    .topLine{
        font-size: 1.4em;
    }
    /*minimizes the map*/
    #districts img{
        zoom: 0.61;
        -o-transform: scale(0.61);
        -moz-transform: scale(0.61);
        margin-left: 15%;
    }
    /*shriks the print icon*/
    #mapText16 img{
        width: 17px;
    }
    /*shrinks logo*/
    #logo{
        width: 130px;
    }
    /*removes the "print" button*/
    #mapStats button{
        margin-left: 20%;
        font-size: 1.1em;
    }
}

/* --------------------450PX WIDE SCREENS-------------------- */
@media screen and (max-width: 450px) {
    #districts img{
        zoom: 1;
        -o-transform: scale(1);
        -moz-transform: scale(1);
        margin-left: 20%;
    }
    #bodyContent{
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
    #contentArea{
        position: relative;
        top: 15vh;
        width: 95%;
        height: 100%;
        overflow: scroll;
    }
    #mapDisplay{
        display: block;
        width: 100%;
    }
    #mapStats{
        border-top: 1px solid gray;
        display: block;
        height: 100%;
        width: 100%;
    }
    .statsInnerContainer table{
        margin-left: 2px;
        margin-bottom: 50px;
        font-size: 1.2em;
        background-color: white;
    }
}

/* --------------------------------P r i n t   C S S-------------------------------- */
@media only print{
    /*hides the nav bar, printing only the map and statistics*/
    #sideNav{
        width: 0;
    }
    /*moves the map to the left*/
    #mapDisplay{
        position: relative;
        left: -80px;
        display: inline-block;
        width: 35%;
    }
    /*removes the margin it has by default*/
    #districts img{
        margin-left: 0;
    }
    /*divides the page into 2 - stats*/ 
    #mapStats{
        display: inline-block;
        width: 55%;
    }
    #mapStats .statsInnerContainer{
        width: 100%;
    }
    /*makes the table wider*/
    #mapStats .statsInnerContainer table tr{
        border: 1px solid black;
    }
    #mapStats .statsInnerContainer table{
        margin-left: 5%;
        width: 90%;
        font-size: 1.2em;
    }
    /*removes the "print" button*/
    #mapText16{
        display: none;
    }
}